body{
  font-family: 'Montserrat';
  background-color: #e1bee7;
}

header{
  padding-top:8px;
  padding-bottom:8px;
}

section{
  /*
  background-color: #fafafa;
  */
  background-color: #eceff1;
  padding:1px;
  padding-bottom:25px;
}

.card{
  height: 170px;
  padding: 15px;
  border-radius: 10px;
}

.card-image{
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.index-info{
  text-align:justify;
  text-indent: 30px;
  padding-top: 20px;
}

.index-famepilogo{
  height: 20px;
  margin-bottom:-6px;
}

#sobre p{
  text-align:justify;
}

.tela-descricao{
  text-align: justify;
  text-indent: 30px;
}

.bt-ini{
  margin:5px;
}

.ep-title{
  text-align: center;
  font-weight: bold;
}

.ep-img{
  max-width: 200px;
  max-height: 200px;
  align-items: center;
}

.ep-subtitle{
  /*empty*/
}

.ep-descricao{
  text-indent: 30px;
  text-align: justify;
}

.ep-video{
  text-align: center;
}