.home-botoes-centrais{
    text-align: center;
    position: center;
}

.Empresas {
    border: none;
    color: white;
    padding: 400px 490px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 16px;
  }
  
  .Servicos {
    border: none;
    color: white;
    padding: 125px 595px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 16px;
  }