<html>
    <link rel="stylesheet" href="css.css">

<html>
      <div class="First">
            <button class="mdc-button mdc-button--raised">
            <img src="capacete.png"/>
                <span class="mdc-button__label">Capacete</span>
            </button>
      </div>

      <div class="Second">
            <button class="mdc-button mdc-button--raised">
            <img src="Luvas.png"/>
                <span class="mdc-button__label">Luvas de Proteção</span>
            </button>
      </div>

      <div class="Third">
            <button class="mdc-button mdc-button--raised">
            <img src="Oculos.png"/>
                <span class="mdc-button__label">Oculos de Proteção</span>
            </button>
      </div>
