<!DOCTYPE html> 
<html lang="pt-br">

<head> 
    <meta charset="UTF-8">

    <title>Denver EP</title>
    <meta name="description" content="Denver EPI's web app for manufacturers">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Denver Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--MATERIALIZE CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--DENVER IMPLEMENTATIONS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <!--DENVER EXTRA CSS-->
    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <header></header>
        <section class="container">
            <p><script>document.write('<a href="'+document.referrer+'">← Voltar para anterior.</a>');</script></p>
            
            <h3 class="epi-title">Capacete (EPI)</h3>
            <div style="text-align:center"><img class="epi-img" src="https://americanbrasil.com.br/media/catalog/product/cache/1/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/c/a/capacete-plt-pasticor.png"></div>
            
            <h4 class="epi-subtitle">O que é</h4>
            <p class="epi-descricao">
                O Capacete de Segurança Aba Frontal PLT com Selo Inmetro Plastcor é um
                equipamento eficiente para proteção e segurança contra impactos na cabeça.
                Este capacete de segurança com aba frontal PLT é produzido em polietileno
                de alta densidade e seu design de casco distribui uniformemente o impacto.
                É leve e possui suspensão com 6 pontos para melhor distribuição do peso.
                Possui slot para acoplamento de protetor facial e auditivo, dando mais
                comodidade ao trabalhador, além de tira absorvente de suor que proporciona
                conforto e não irrita a pele.
            </p>

            <h4 class="epi-subtitle">Importância</h4>
            <p class="epi-descricao grey-text text-darken-4">
                O Capacete de Segurança Aba Frontal PLT com Selo Inmetro Plastcor é um
                equipamento eficiente para proteção e segurança contra impactos na cabeça.
                Este capacete de segurança com aba frontal PLT é produzido em polietileno
                de alta densidade e seu design de casco distribui uniformemente o impacto.
                É leve e possui suspensão com 6 pontos para melhor distribuição do peso.
                Possui slot para acoplamento de protetor facial e auditivo, dando mais
                comodidade ao trabalhador, além de tira absorvente de suor que proporciona
                conforto e não irrita a pele.</p>
                
            <h4 class="epi-subtitle center">Vídeo demonstrativo</h4>
            <div class="epi-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NrR7bn1fLQs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </section>

    <footer></footer>
    
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/view.js"></script>
        
    </body>
</html>