<!DOCTYPE html> 
<html lang="pt-br">

<head> 
    <meta charset="UTF-8">

    <title>Denver EP</title>
    <meta name="description" content="Denver EPI's web app for manufacturers">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Denver Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="w-icon" rel="website icon" type="png" href="">
    <!--MATERIALIZE CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--DENVER IMPLEMENTATIONS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <!--DENVER EXTRA CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/card-ep.js"></script>
</head>

    <body>
        <header class="z-depth-0"></header>
        <section>
          <div class="container">
            <p style="padding-left:15px;padding-bottom:15px;"><a href="../">← Página anterior</a></p>
     
            <p class="tela-descricao">
              Aprenda sobre todos os Equipamentos de Proteção Individuais (EPIs) utilizados na empresa.
              Selecione o EPI que você gostaria de saber mais informações, aprender a forma de
              utilização e assistir ao vídeo demonstrativo.
          </p>

            <h5 style="padding-left:15px;">Selecione um EPI:</h5> <!--trocar por DIV e usar padding da SECTION ou .container-->
            <div class="row" id="card-ep">

                  <script>
                    //card_ep("exemplo-ep");
                    card_ep("capacete");
                    card_ep("luvademalha");
                    card_ep("oculosdeprot");
                    card_ep("abafador");
                    card_ep("botina");
                    card_ep("botadeseg");
                  </script>

                <!--
                <div class="col s12 m12 l6">
                    <a class="grey-text text-darken-4" href="ep.html?ep=capacete">
                      <div class="card horizontal valign-wrapper">
                          <div class="card-image">
                              <img src="../img/capacete.webp">
                          </div>
                          <div class="card-content dark-grey-text"> 
                              <div class="card-title">Capacete</div>
                              <p>Proteção da cabeça contra impactos e ferimentos por queda de materiais.</p>
                          </div>
                      </div>
                    </a>
                  </div>
                  -->

            </div>
          </div>
        </section>

    <footer class="page-footer purple lighten-4"></footer>
    
    <script type="text/javascript" src="../js/view.js"></script>
        
    </body>
</html>