<!DOCTYPE html> 
<html lang="pt-br">

<head> 
    <meta charset="UTF-8">

    <title>Denver EP</title>
    <meta name="description" content="Denver EPI's web app for manufacturers">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Denver Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="w-icon" rel="website icon" type="png" href="">
    <!--MATERIALIZE CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--DENVER IMPLEMENTATIONS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <!--DENVER EXTRA CSS-->
    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <header class="z-depth-0"></header>
        <section>
          <div class="container">
            <p style="padding-left:15px;padding-bottom:15px;"><a href="../index.html">← Página anterior</a></p>
     
            <p class="epi-descricao">
              Aprenda sobre todos os Equipamentos de Proteção Individuais (EPIs) utilizados na empresa.
              Selecione o EPI que você gostaria de saber mais informações, aprender a forma de
              utilização e assistir ao vídeo demonstrativo.
          </p>

            <h5 style="padding-left:15px;">Selecione um EPI:</h5> <!--trocar por DIV e usar padding da SECTION ou .container-->
            <div class="row">
                
                <div class="col s12 m12 l6">
                    <a class="grey-text text-darken-4" href="ep.html?ep=capacete">
                      <div class="card horizontal valign-wrapper">
                          <div class="card-image">
                              <img src="https://images.tcdn.com.br/img/img_prod/701745/capacete_de_seguranca_plt_plastcor_com_suspensao_ca_31469_219_variacao_1805_1_20201028184014.jpeg">
                          </div>
                          <div class="card-content dark-grey-text"> 
                              <div class="card-title">Capacetes</div>
                              <p>Proteção da cabeça contra impactos e ferimentos por queda de materiais.</p>
                          </div>
                      </div>
                    </a>
                  </div>

                
                  <div class="col s12 m12 l6">
                    <a class="grey-text text-darken-4" href="ep.html?ep=luvasdemalha">
                      <div class="card horizontal valign-wrapper">
                          <div class="card-image">
                              <img src="https://cdn.leroymerlin.com.br/products/luvas_de_malha_tricotada_kit_20_pares_epi_construcao_obras_se_1567032744_1568_600x600.jpg">
                          </div>
                          <div class="card-content dark-grey-text"> 
                              <div class="card-title">Luvas de Malha</div>
                              <p>Proteção das mãos contra abrasão, farpas, pequenos cortes, etc.</p>
                          </div>
                      </div>
                    </a>
                  </div>
            
                
                  <div class="col s12 m12 l6">
                    <a class="grey-text text-darken-4" href="ep.html?ep=oculosdeprot">
                      <div class="card horizontal valign-wrapper">
                          <div class="card-image">
                              <img src="https://d3bhvz7al37iy6.cloudfront.net/Custom/Content/Products/10/46/1046024_oculos-de-protecao-fenix-da-14500-_m7_637358884304687029.jpg">
                          </div>
                          <div class="card-content dark-grey-text"> 
                              <div class="card-title">Óculos de Proteção</div>
                              <p>Proteção contra micróbios, bactérias e vírus, até partículas que podem atingir os olhos.</p>
                          </div>
                      </div>
                    </a>
                  </div>
            
                
                  <div class="col s12 m12 l6">
                    <a class="grey-text text-darken-4" href="ep.html?ep=abafador">
                      <div class="card horizontal valign-wrapper">
                          <div class="card-image">
                              <img src="https://safetytrab.com.br/wp-content/uploads/2016/01/Protetor-Auricular-Abafador-tipo-Concha-Pomp-Muffler-3M-1-300x300.jpg">
                          </div>
                          <div class="card-content dark-grey-text"> 
                              <div class="card-title">Abafador de Ruído</div>
                              <p>Proteção para evitar problemas de audição atenuando os níveis de ruídos externos.</p>
                          </div>
                      </div>
                    </a>
                  </div>
            
                
                  <div class="col s12 m12 l6">
                    <a class="grey-text text-darken-4" href="ep.html?ep=botina">
                      <div class="card horizontal valign-wrapper">
                          <div class="card-image">
                              <img src="https://prometalepis.com.br/wp-content/uploads/2021/08/BOTINA-COM-BICO-DE-ACO-BRACOL-BEL.jpg">
                          </div>
                          <div class="card-content dark-grey-text"> 
                              <div class="card-title">Botina</div>
                              <p>Proteger os pés do usuário contra eventuais acidentes de trabalho.</p>
                          </div>
                      </div>
                    </a>
                  </div>
            
                
                  <div class="col s12 m12 l6">
                    <a class="grey-text text-darken-4" href="ep.html?ep=botadeseg">
                      <div class="card horizontal valign-wrapper">
                          <div class="card-image">
                              <img src="https://cdn.rioepi.com.br/media/catalog/product/cache/1/image/600x600/9df78eab33525d08d6e5fb8d27136e95/b/o/bota-pvc-fujiwara-cano-longo-epi.jpg">
                          </div>
                          <div class="card-content dark-grey-text"> 
                              <div class="card-title">Bota de Segurança</div>
                              <p>Proteger os pés do usuário contra eventuais acidentes de trabalho.</p>
                          </div>
                      </div>
                    </a>
                  </div>


            </div>
          </div>
        </section>

    <footer class="page-footer purple lighten-4"></footer>
    
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/view.js"></script>
        
    </body>
</html>