<div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text text-darken-4">Denver EP</h5>
        <p class="grey-text text-darken-2">
            Conheça os EPIs e EPCs que você precisa usar.<br>
            Segurança em primeiro lugar.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="grey-text text-darken-4">LinkedIn</h5>
        <ul>
          <li><a class="grey-text text-darken-2" href="https://br.linkedin.com/in/joao-vitor-silva-lima-fernandes-0434121b1" target=”_blank”>João Vitor Silva Lima Fernandes</a></li>
          <li><a class="grey-text text-darken-2" href="https://br.linkedin.com/in/pedrolucas-sds" target=”_blank”>Pedro Lucas Soares da Silva</a></li>
          <li><a class="grey-text text-darken-2" href="https://br.linkedin.com/in/guilherme-aquino-0ba6b9197" target=”_blank”>Guilherme Cruz de Aquino</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey-text text-darken-4">
    <div class="container">
    © 2022 Equipe Denver
    <a class="blue-text text-darken-4 right" href="https://www.famepi.org.br" target=”_blank”>FAMEPI</a>
    </div>
  </div>

  