<!DOCTYPE html> 
<html lang="pt-br">

<head> 
    <meta charset="UTF-8">

    <title>Denver EP</title>
    <meta name="description" content="Denver EPI's web app for manufacturers">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Denver Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="w-icon" rel="website icon" type="png" href="">
    <!--MATERIALIZE CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--DENVER IMPLEMENTATIONS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <!--DENVER EXTRA CSS-->
    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <header class="z-depth-0"></header>
        <section>
          <div class="container">
            <p style="padding-left:15px;padding-bottom:15px;"><a href="../">← Página anterior</a></p>
            <p class="tela-descricao">
              Identifique quais EPIs deve utilizar em cada tipo de serviço realizado dentro
              da empresa e não corra riscos de saúde. Ande seguro por todos os setores da empresa.
          </p>
            <h5 style="padding-left:15px;padding-top:15px;">Selecione o local do serviço:</h5> <!--trocar por DIV e usar padding da SECTION ou .container-->
            <div class="row">
                  <div class="col s12 m12 l6">
                    <a class="grey-text text-darken-4" href="local01-epi.html">
                      <div class="card horizontal valign-wrapper">
                          <div class="card-image">
                              <img src="../img/producao.png">
                          </div>
                          <div class="card-content dark-grey-text"> 
                              <div class="card-title">Manutenção Linha 01</div>
                              <p>Texto de exemplo de serviço.</p>
                          </div>
                      </div>
                    </a>
                  </div>
              
                <div class="col s12 m12 l6">
                    <a class="grey-text text-darken-4" href="local01-epi.html">
                    <div class="card horizontal valign-wrapper">
                        <div class="card-image">
                            <img src="../img/producao.png">
                        </div>
                        <div class="card-content dark-grey-text"> 
                            <div class="card-title">Manutenção Linha 02</div>
                            <p>Texto de exemplo de serviço.</p>
                        </div>
                    </div>
                </a>
                </div>
              <div class="col s12 m12 l6">
                <a class="grey-text text-darken-4" href="local01-epi.html">
                  <div class="card horizontal valign-wrapper">
                      <div class="card-image">
                          <img src="../img/producao.png">
                      </div>
                      <div class="card-content dark-grey-text"> 
                          <div class="card-title">Manutenção de Portas</div>
                          <p>Texto de exemplo de serviço.</p>
                      </div>
                  </div>
                </a>
              </div>
            <div class="col s12 m12 l6">
                <a class="grey-text text-darken-4" href="local01-epi.html">
                <div class="card horizontal valign-wrapper">
                    <div class="card-image">
                        <img src="../img/producao.png">
                    </div>
                    <div class="card-content dark-grey-text"> 
                        <div class="card-title">Pintura de Paredes</div>
                        <p>Texto de exemplo de serviço.</p>
                    </div>
                </div>
            </a>
            </div>
          <div class="col s12 m12 l6">
            <a class="grey-text text-darken-4" href="local01-epi.html">
              <div class="card horizontal valign-wrapper">
                  <div class="card-image">
                      <img src="../img/producao.png">
                  </div>
                  <div class="card-content dark-grey-text"> 
                      <div class="card-title">Solda</div>
                      <p>Texto de exemplo de serviço.</p>
                  </div>
              </div>
            </a>
          </div>
          <div class="col s12 m12 l6">
            <a class="grey-text text-darken-4" href="local01-epi.html">
              <div class="card horizontal valign-wrapper">
                  <div class="card-image">
                      <img src="../img/producao.png">
                  </div>
                  <div class="card-content dark-grey-text"> 
                      <div class="card-title">Limpeza de chão</div>
                      <p>Texto de exemplo de serviço.</p>
                  </div>
              </div>
            </a>
          </div>
            </div>
          </div>
        </section>

    <footer class="page-footer purple lighten-4"></footer>
    
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/view.js"></script>
        
    </body>
</html>