<!DOCTYPE html> 
<html lang="pt-br">

<head> 
    <meta charset="UTF-8">

    <title>Denver EP</title>
    <meta name="description" content="Denver EPI's web app for manufacturers">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Denver Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--MATERIALIZE CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--DENVER IMPLEMENTATIONS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <!--DENVER EXTRA CSS-->
    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <header class="z-depth-0"></header>
        <section>
          <div class="container">
            <h5 style="padding:15px";>Selecione um serviço:</h5> <!--trocar por DIV e usar padding da SECTION ou .container-->
            <div class="row">
                <a class="grey-text text-darken-4" href="ep01.html">
                  <div class="col s12 m6 l4">
                      <div class="card horizontal grey lighten-5">
                          <div class="card-image">
                              <img src="https://americanbrasil.com.br/media/catalog/product/cache/1/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/c/a/capacete-plt-pasticor.png">
                          </div>
                          <div class="card-content dark-grey-text"> 
                              <span class="card-title">Capacete Tipo 1</span>
                              <p>Proteja sua cuca de pancadas.</p>
                          </div>
                      </div>
                  </div>
              </a>
              <a class="grey-text text-darken-4" href="ep01.html">
                <div class="col s12 m6 l4">
                    <div class="card horizontal grey lighten-5">
                        <div class="card-image">
                            <img src="https://americanbrasil.com.br/media/catalog/product/cache/1/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/c/a/capacete-plt-pasticor.png">
                        </div>
                        <div class="card-content dark-grey-text"> 
                            <span class="card-title">Capacete Tipo 1</span>
                            <p>Proteja sua cuca de pancadas.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="grey-text text-darken-4" href="ep01.html">
              <div class="col s12 m6 l4">
                  <div class="card horizontal grey lighten-5">
                      <div class="card-image">
                          <img src="https://americanbrasil.com.br/media/catalog/product/cache/1/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/c/a/capacete-plt-pasticor.png">
                      </div>
                      <div class="card-content dark-grey-text"> 
                          <span class="card-title">Capacete Tipo 1</span>
                          <p>Proteja sua cuca de pancadas.</p>
                      </div>
                  </div>
              </div>
          </a>
            </div>
          </div>
        </section>

    <footer class="page-footer purple lighten-4"></footer>
    
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/view.js"></script>
        
    </body>
</html>