<nav class="purple lighten-4 z-depth-0">
    <div class="container nav-wrapper">
    <a id="home" href="../" class="brand-logo">
        <img id="logo" src="../img/denverlogo_preto.png"
        style="max-height:40px;margin-left:10px;margin-top: 10px;margin-bottom: 10px;margin-right: 10px;"></img>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../view/empresa.html">Empresas</a></li>
        <li><a href="../view/servico.html">Serviços</a></li>
    </ul>
    </div>
</nav>